.row {
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0 , .1);
    background: #fff;
}

.row .column {
    border: 1px solid rgba(0, 0, 0 , .1);
    background: #f6f6f6;
}

.row .column:nth-child(2n+2) {
    background: #ebebeb;
}

.margin-medium {
    margin: 2em;
}