/* base */
*, *:before, *:after {
    box-sizing: border-box;
}

/* basic */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.row > * { display: block; padding: 0 1em; }

/* row advanced */
.row-reverse { flex-direction: row-reverse; }
.row-vertical { flex-direction: column; }
[class*=row-vertical] > * { display: block; padding: 0; }
.row-vertical-reverse { flex-direction: column-reverse; }

.row.content-left { justify-content: flex-start; }
.row.content-right { justify-content: flex-end; }
.row.content-center { justify-content: center; }
.row.content-space-between { justify-content: space-between; }

/* column align */
.row.auto-complete { flex-wrap: nowrap; }
.row.auto-complete > * { flex: 1; }
.row.column-begin-top { align-items: flex-start; }
.row.column-begin-bottom { align-items: flex-end; }
.row.column-full-height { align-items: stretch; }
.row.column-center { align-items: center; }
.row.column-baseline { align-items: baseline; }

/* gutter */
.row.no-gutter > *, .row > .no-gutter { padding: 0; }

/* small
    all screen */
@media only screen {
    
    /* basic grid */
    .row > .small-1 { width: 8.33334%; }
    .row > .small-2 { width: 16.66667%; }
    .row > .small-3 { width: 25%; }
    .row > .small-4 { width: 33.33334%; }
    .row > .small-5 { width: 41.66667%; }
    .row > .small-6 { width: 50%; }
    .row > .small-7 { width: 58.33334%; }
    .row > .small-8 { width: 66.66667%; }
    .row > .small-9 { width: 75%; }
    .row > .small-10 { width: 83.33334%; }
    .row > .small-11 { width: 91.66667%; }
    .row > .small-12 { width: 100%; }
    
    /* gutter */
    .row > .small-no-gutter { padding: 0; }
    .row > .small-gutter { padding: 0 1em; }
    
    /* centered */
    .row > .small-centered { margin: auto; }
    .row > .small-uncentered { margin: 0; }
    
    /* pull */
    .row > .small-pull-right { margin-left: auto; }
    .row > .small-pull-left { margin-right: auto; }
    
    /* self align */
    .row > .small-begin-top { align-self: flex-start; }
    .row > .small-begin-bottom { align-self: flex-end; }
    .row > .small-full-height { align-self: stretch; }
    .row > .small-center { align-self: center; }
    .row > .small-baseline { align-self: baseline; }
    
    /* offset */
    .row > .small-1.small-offset-1 { width: calc(8.33334% + 8.33334%); }
    .row > .small-1.small-offset-2 { width: calc(8.33334% + 16.66667%); }
    .row > .small-1.small-offset-3 { width: calc(8.33334% + 25%); }
    .row > .small-1.small-offset-4 { width: calc(8.33334% + 33.33334%); }
    .row > .small-1.small-offset-5 { width: calc(8.33334% + 41.66667%); }
    .row > .small-1.small-offset-6 { width: calc(8.33334% + 50%); }
    .row > .small-1.small-offset-7 { width: calc(8.33334% + 58.33334%); }
    .row > .small-1.small-offset-8 { width: calc(8.33334% + 66.66667%); }
    .row > .small-1.small-offset-9 { width: calc(8.33334% + 75%); }
    .row > .small-1.small-offset-10 { width: calc(8.33334% + 83.33334%); }
    .row > .small-1.small-offset-11 { width: calc(8.33334% + 91.66667%); }
    
    .row > .small-2.small-offset-1 { width: calc(16.66667% + 8.33334%); }
    .row > .small-2.small-offset-2 { width: calc(16.66667% + 16.66667%); }
    .row > .small-2.small-offset-3 { width: calc(16.66667% + 25%); }
    .row > .small-2.small-offset-4 { width: calc(16.66667% + 33.33334%); }
    .row > .small-2.small-offset-5 { width: calc(16.66667% + 41.66667%); }
    .row > .small-2.small-offset-6 { width: calc(16.66667% + 50%); }
    .row > .small-2.small-offset-7 { width: calc(16.66667% + 58.33334%); }
    .row > .small-2.small-offset-8 { width: calc(16.66667% + 66.66667%); }
    .row > .small-2.small-offset-9 { width: calc(16.66667% + 75%); }
    .row > .small-2.small-offset-10 { width: calc(16.66667% + 83.33334%); }
    
    .row > .small-3.small-offset-1 { width: calc(25% + 8.33334%); }
    .row > .small-3.small-offset-2 { width: calc(25% + 16.66667%); }
    .row > .small-3.small-offset-3 { width: calc(25% + 25%); }
    .row > .small-3.small-offset-4 { width: calc(25% + 33.33334%); }
    .row > .small-3.small-offset-5 { width: calc(25% + 41.66667%); }
    .row > .small-3.small-offset-6 { width: calc(25% + 50%); }
    .row > .small-3.small-offset-7 { width: calc(25% + 58.33334%); }
    .row > .small-3.small-offset-8 { width: calc(25% + 66.66667%); }
    .row > .small-3.small-offset-9 { width: calc(25% + 75%); }
    
    .row > .small-4.small-offset-1 { width: calc(33.33334% + 8.33334%); }
    .row > .small-4.small-offset-2 { width: calc(33.33334% + 16.66667%); }
    .row > .small-4.small-offset-3 { width: calc(33.33334% + 25%); }
    .row > .small-4.small-offset-4 { width: calc(33.33334% + 33.33334%); }
    .row > .small-4.small-offset-5 { width: calc(33.33334% + 41.66667%); }
    .row > .small-4.small-offset-6 { width: calc(33.33334% + 50%); }
    .row > .small-4.small-offset-7 { width: calc(33.33334% + 58.33334%); }
    .row > .small-4.small-offset-8 { width: calc(33.33334% + 66.66667%); }
    
    .row > .small-5.small-offset-1 { width: calc(41.66667% + 8.33334%); }
    .row > .small-5.small-offset-2 { width: calc(41.66667% + 16.66667%); }
    .row > .small-5.small-offset-3 { width: calc(41.66667% + 25%); }
    .row > .small-5.small-offset-4 { width: calc(41.66667% + 33.33334%); }
    .row > .small-5.small-offset-5 { width: calc(41.66667% + 41.66667%); }
    .row > .small-5.small-offset-6 { width: calc(41.66667% + 50%); }
    .row > .small-5.small-offset-7 { width: calc(41.66667% + 58.33334%); }
    
    .row > .small-5.small-offset-1 { width: calc(41.66667% + 8.33334%); }
    .row > .small-5.small-offset-2 { width: calc(41.66667% + 16.66667%); }
    .row > .small-5.small-offset-3 { width: calc(41.66667% + 25%); }
    .row > .small-5.small-offset-4 { width: calc(41.66667% + 33.33334%); }
    .row > .small-5.small-offset-5 { width: calc(41.66667% + 41.66667%); }
    .row > .small-5.small-offset-6 { width: calc(41.66667% + 50%); }
    .row > .small-5.small-offset-7 { width: calc(41.66667% + 58.33334%); }
    
    .row > .small-6.small-offset-1 { width: calc(50% + 8.33334%); }
    .row > .small-6.small-offset-2 { width: calc(50% + 16.66667%); }
    .row > .small-6.small-offset-3 { width: calc(50% + 25%); }
    .row > .small-6.small-offset-4 { width: calc(50% + 33.33334%); }
    .row > .small-6.small-offset-5 { width: calc(50% + 41.66667%); }
    .row > .small-6.small-offset-6 { width: calc(50% + 50%); }
    
    /* order */
    .row > [class*=small-order-0], .row > .small-order-0-and-after ~ * { order: 0; }
    .row > [class*=small-order-1], .row > .small-order-1-and-after ~ * { order: 1; }
    .row > [class*=small-order-2], .row > .small-order-2-and-after ~ * { order: 2; }
    .row > [class*=small-order-3], .row > .small-order-3-and-after ~ * { order: 3; }
    .row > [class*=small-order-4], .row > .small-order-4-and-after ~ * { order: 4; }
    .row > [class*=small-order-5], .row > .small-order-5-and-after ~ * { order: 5; }
    .row > [class*=small-order-6], .row > .small-order-6-and-after ~ * { order: 6; }
    .row > [class*=small-order-7], .row > .small-order-7-and-after ~ * { order: 7; }
    .row > [class*=small-order-8], .row > .small-order-8-and-after ~ * { order: 8; }
    .row > [class*=small-order-9], .row > .small-order-9-and-after ~ * { order: 9; }
    .row > [class*=small-order-10], .row > .small-order-10-and-after ~ * { order: 10; }
    .row > [class*=small-order-11], .row > .small-order-11-and-after ~ * { order: 11; }
    .row > [class*=small-order-12], .row > .small-order-12-and-after ~ * { order: 12; }
    
}

/* medium
    min-width 641px */
@media only screen and (min-width: 40.063em) {
    
}

/* large
    min-width 1025px */
@media only screen and (min-width: 64.063em) {
    
}

/* xlarge
    min-width 1441px */
@media only screen and (min-width: 90.063em) {
    
}

/* xxlarge
    min-width 1921px */
@media only screen and (min-width: 120.063em) {
    
}